<li class="category-row" data-updated="{{UPDATED_AT}}">
        <a class="category-row-link" href="/truyen/{{SLUG}}/">
          <div class="category-row-thumb">
            <img class="cover-img" src="{{COVER}}" alt="{{TITLE}}" loading="lazy" width="120" height="180">
          </div>
          <div class="category-row-info">
            <div class="category-row-title-line">
              <span class="category-row-title">{{TITLE}}</span>
              {{BADGE}}
            </div>
            <div class="category-row-author"><span class="pencil-icon">✎</span> {{AUTHOR}}</div>
          </div>
          <div class="category-row-chapter">Chương {{CHAPTER_COUNT}}</div>
        </a>
      </li>
